.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  width: 50vw;
  height: 75vh;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.underline {
  background-color: #0070f3;
  width: 6rem;
  height: 0.25rem;
  margin-top: 1.2rem;
}

.profil {
  border-radius: 50%;
}

.name {
  font-weight: 700;
  color: #000000;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.job {
  font-weight: 300;
  color: #55AAFF;
  margin-bottom: 1rem;
}

.description {
  color: #777777;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn {
  color: #55AAFF;
  font-size: 1.5rem;
  background-color: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
}

.random {
  background-color: #55AAFF;
  color: #0e4788;
  padding: 0.4rem;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.random:hover {
  background-color: #4a9ff3;
}